.container {
    display: grid;
    width: min(70%, 375px);
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    width: 100%;
}

figcaption {
    text-align: center;
    text-transform: capitalize;
}

@media (min-width: 650px) {
    .jump:focus{
        top: 0px;
    }

    .container {
        width: 95%;
        background-image: url("../images/concrete_seamless.png");
        grid-template-columns: repeat(3, 25%);
        justify-content: space-around;
    }

    .container figure:nth-child(odd) {
        grid-column: 1 / span 2;
    }

    .container figure:nth-child(even) {
        grid-column: 2 / span 2;
    }
}

@media (min-width: 750px) {
    .container {
        grid-template-columns: repeat(4, 20%);
        justify-content: space-between;
    }

    .container figure:nth-child(n) {
        grid-column: auto / span 2;
    }

    .container figure:last-child {
        grid-column: 2 / span 2;
    }
}

@media (min-width: 900px) {
    .container figure {
        width: 20%;
    }

    .container figure:nth-child(4n) {
        width: 40%;
        border: 10px solid black;
    }

    .container figure:nth-child(2) {
        order: 1
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 1050px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        overflow: hidden;
    }

    .container figure:nth-child(n) {
        width: 75%;
        margin-bottom: 20px;
        grid-column: auto;
    }

    .container figure:nth-child(odd):not(:last-child) {
        rotate: -15deg;
    }

    .container figure:nth-child(even):not(:last-child) {
        rotate: 15deg;
    }

    .container figure:nth-child(2) {
        order: 0;
    }

    .container figure:last-child {
        grid-column: span 2;
    }
}


.logo {
    animation: slow-reveal 10s;
}

@media (prefers-reduced-motion) {
    .logo {
        animation: none;
    }
}

@keyframes slow-reveal {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}